.App {
  text-align: center;
  color: white;
  border-top: solid 0.8em rgb(59, 134, 248);
}

.logoTag {
  height: 5em;
}

.navAcross {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  margin-left: 4em;
}

.dropdown-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
  width: 15em;
  padding-bottom: .5em;
  padding-top: .5em;
  padding-left: 1em;
  padding-right: 3em;
  text-align: left;
  color: white;
  background-color:rgba(77, 76, 76, 0.9);
  border: none;
  text-decoration: none;
  position: relative;
  float: none;
  white-space: normal;
}

nav.navbar {
  margin: 0;
  padding: 0;
  align-items: flex-end;
}

.nav-item {  
  margin-left: 6em;
}

.nav-link {
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  padding-bottom: 20px;
}



.dropdown-menu {
  text-decoration: none;
  color: grey;
  font-weight: bold;
  width: 15em;
  padding: 0;
  margin: 0;

}

#navbarDropdownMenuLink {
  border-bottom: .4em solid transparent;
  cursor: pointer;
}

#navbarDropdownMenuLink:hover {
  color: rgb(1, 180, 1);
  border-bottom: .4em solid rgb(1, 180, 1);
  font-weight: bold;
}

.headerImg {
  width: 100%;
  height: auto;
}

.sideList {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: auto;
  align-items: flex-start;
  margin-left: -1em;
}

.sideLinks {
  border-bottom: .1em solid grey;
  text-decoration: none;
  color: rgb(45, 124, 243);
  font-size: 0.8em;
  padding: .8em;
  width: 100%;
  text-align: left;
}

.bodyContent {
  display: flex;
  color: black;
  flex-direction: row-reverse;
  width: 100%;
  height: auto;
  padding: 5%;
}

.paragraphsBody {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 4em;
  text-align: left;
}

.LoremPart {
  font-family: 'Times New Roman', Times, serif
}

#mainHeader {
  font-size: 2em;
}

#secondaryHeader {
  color: rgb(45, 124, 243);
  font-weight: none;
  font-size: 1.5em;
}

.threeImages {
  display: flex;
  flex-direction: row;
  margin: 4em 5em;
  justify-content: center;
}

.fullPicture {
  display: flex;
  flex-direction: column;
  color: black;
  padding: 0em 1em;
  width: 35%;
}

#SupportSuccess {
  background-color: rgba(255, 224, 85, 0.795);
  font-size: 1.5em;
  color: white;
  margin-top: -2.6em;
  padding: .7em 0em;
  text-transform: uppercase;
}

#UpcomingEvents{
  background-color: rgba(255, 0, 0,  0.795);
  color: white;
  font-size: 1.5em;
  margin-top: -2.6em;
  padding: .7em 0em;
  text-transform: uppercase;
}

#alumni {
  background-color: rgba(128, 0, 128,  0.795);
  color: white;
  font-size: 1.5em;
  margin-top: -2.6em;
  padding: .7em;
  text-transform: uppercase;
}

.wholeFooter {
  background-color:#343530;
}

.secondLogoTag {
  width: 20%;
  height: 20%;
  margin-left: 5em;
}

.mainPartFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em;
}

.addressPhone {
  font-size: 1em;
  margin-left: -25em;
  margin-top: 1em;
}

.donateButton {
  text-transform: uppercase;
  background-color: rgb(27, 180, 27);
  border: none;
  color: white;
  font-weight: bold;
  font-size:1em;
  width: 20%;
  height: 4em;
  margin-right: 4em;
  margin-top: 1em;
}

.baseOfTheFooter {
  background-color: rgb(29, 29, 29);
  width: 100%;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.3em;
  padding: 1em;
  margin-bottom:-.5em;

}

@media (max-width: 375px) {

  .navAcross {
    display: flex;
    flex-direction: column;
    margin-left: -3.5em;
  }

  .navbar-toggler {
    display: flex;
    flex-direction: row;
  }

  .justForMedia {
    display: flex;
    flex-direction: column;
    border: solid green;
  }

  .logoTag {
    width: 50%;
    height: auto;
  }

 .bodyContent {
   display: flex;
   flex-direction: column;
   width: 33em;
   margin-left: -4em;
 }

 .sideList {
   width: 100%;
   background-color: rgb(194, 194, 194);
   margin-left: 2em;
 }

 .mainPartFooter {
   display: flex;
   flex-direction: column;
 }

 .threeImages {
   display: flex;
   flex-direction: column;
   margin-top: -2em;
 }

 .fullPicture {
   width: 24em;
   margin-left: -5.5em;
   margin-top: 1em;
 }

 .headerImg {
   width: 100%;
 }

 .wholeFooter {
   display: flex;
   align-self: center;
   flex-direction: column;
 }

 .donateButton {
   display: flex;
   justify-content: center;
   flex-wrap: nowrap;
   margin-left: 3em;
   margin-top:1em;
   width: 14em;
   height: 3em;
 }
 
  .secondLogoTag {
    display:flex;
    justify-content: center;
    width: 50%;
    color: white;
    height: auto;
    margin-left: 4.5em;
    margin-bottom: 1em;
  }

  .addressPhone {
    font-size: 1em;
  }

 .baseOfTheFooter {
   font-size: .5em;
   margin-bottom: -2em;
 }

}