.App {
  text-align: center;
  color: white;
}

.logoTag {
  height: 5em;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 0.5em solid rgb(60, 60, 255);
  text-transform: uppercase;
}

.headerImg {
  width: 100%;
  height: auto;
}

.sideList {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: auto;
  align-items: flex-start;
}

.sideLinks {
  border-bottom: .1em solid grey;
  text-decoration: none;
  color: blue;
  font-size: 0.8em;
  padding: .8em;
 width: 100%;
 text-align: left;
}

.bodyContent {
  display: flex;
  color: black;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding: 5%;
}

.paragraphsBody {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.wholeFooter {
  background-color:grey;
 
}

.mainPartFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em;
}

.donateButton {
  text-transform: uppercase;
  background-color: rgb(27, 180, 27);
  border: none;
  color: white;
  font-weight: bold;
  font-size:1em;
  width: 20%;
  height: 5em;
}

.baseOfTheFooter {
  background-color: rgb(53, 53, 53);
  width: 100%;
  font-style: italic;
  padding: 0.5em;
  font-size: .5em;
}